
.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000; 
  display: flex;
  justify-content:space-between;
  padding: 10px 0;
}


.nav-container .logo {
  text-align: center;
}


.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

.nav-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
